In [1]:
import numpy as np
import pandas as pd
import glob

In [3]:
df = pd.read_csv("airOT201201.csv")

In [4]:
#look at origins only, determine most busy airports
or_col = ["ORIGIN", "MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "DEP_DELAY"]
origins = df[or_col]
origins = origins.dropna()

origins['total_flights'] = origins.groupby(["ORIGIN", "MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK"]).transform("count")

origins[["ORIGIN","total_flights"]].groupby("ORIGIN").mean("total_flights").sort_values("total_flights" , ascending = False).head(10)

        total_flights
ORIGIN
ATL       1013.658312
ORD        783.809319
DFW        674.107292
DEN        614.961435
LAX        572.244168
PHX        495.236402
IAH        439.359172
SFO        421.574128
LAS        362.819754
CLT        356.143612

In [5]:
airports = ["ATL", "ORD", "DFW", "DEN", "LAX", "PHX", "IAH", "SFO", "LAS", "CLT"]
both_col = ["ORIGIN", "MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "DEP_DELAY", "DEST", "ARR_DELAY"]
dep_col = ["ORIGIN", "MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "DEP_DELAY", "DEST"]
deps = df[dep_col]
deps = deps.dropna()
deps = deps[deps.ORIGIN.isin(airports) & deps.DEST.isin(airports)] #only between top 10 airports
deps['total_flights'] = deps.groupby(["ORIGIN", "MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "DEST"]).transform("count")

#deps.query("MONTH == 1 and DAY_OF_MONTH == 1 and ORIGIN == 'JFK' and DEST == 'LAX'")